.detail-container {
  background: #df5eff;
  background: -moz-linear-gradient(to right, #df5eff 0%, #a2fff7 100%);
  background: -webkit-linear-gradient(to right, #df5eff 0%, #a2fff7 100%);
  background: linear-gradient(to right, #df5eff 0%, #a2fff7 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Añadido padding para el espacio alrededor del contenido */
}

.home-icon {
  width: 90px;
  height: 90px;
  margin: 5px;
  cursor: pointer;
}

.detail-name {
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  color: black;
  margin-top: 13px;
  margin-bottom: 2px;
  background: #b1ecb6; 
  background: -moz-linear-gradient(45deg,  #b1ecb6 0%,#f1d4cc 50%,#fef2b6 100%); 
  background: -webkit-linear-gradient(45deg,  #b1ecb6 0%,#f1d4cc 50%,#fef2b6 100%); 
  background: linear-gradient(45deg,  #b1ecb6 0%,#f1d4cc 50%,#fef2b6 100%);
  border: solid 2px #CDB4DB;
  border-radius: 10px;
  border-radius: 10px; /* Agregado el signo de igual para la propiedad border-radius */
  padding: 10px;
}

.detail-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border: solid 2px #df5eff;
}

.detail-summary {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin: 0 20px; /* Agregado margen a izquierda y derecha */
}

.detail-diets {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  margin-top: 40px; /* Aumentado el margen superior */
  text-align: center;
}

.detail-diets-list {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  margin-top: 0; /* Eliminado el margen superior e inferior */
  margin-bottom: 30px;
  padding: 0; /* Eliminado el padding */
  color: #000000;
  text-align: center;
}

.detail-steps {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  margin-top: 10px; /* Aumentado el margen superior */
  text-align: left; /* Cambiado a alineación izquierda */
}

.detail-steps-list {
  font-family: 'Borel', cursive;
  font-size: 25px;
  list-style: decimal;
  margin: 15px;; /* Eliminado el margen superior e inferior */
  padding: 0; /* Eliminado el padding */
}

.detail-list-item {
  margin: 5px;
}
