/* landing.styles.css */

.landing-content {
  background-image: url('C:/Users/Fer Albo/OneDrive/Escritorio/PI-Food-main/client/src/assets/landing 2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Apila los elementos uno encima del otro */
  color: #FFFFFF;
}

.landing-content h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
  margin-bottom: 0.1rem; /* Aumenta o disminuye este valor según tus preferencias */
  margin-top: 50px;
  color: #000000
}

.landing-content h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0.1rem; /* Aumenta o disminuye este valor según tus preferencias */
  margin-top: 1 rem;
  color: #000000
}

.landing-content p {
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-style:  "ubuntu";
  color: #000000;
}

.landing-button {
  padding: 0.5rem 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  background-color: #BDE0FE;
  border: 2px solid #CDB4DB;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5rem;
}

.landing-button:hover {
  background-color: #FFAFCC;
}
