/* navbar.styles.css */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #CDB4DB;
  color: #000000;
}

.navbar-container h1 {
  font-size: 1.5rem;
  margin: 0;
}

.navbar-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #FFC8DD;
  border: none;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: #FFAFCC;
}

.search-bar {
  margin-right: 1rem;
}
