.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  background-image: url(../../assets/fondo\ negro.jpg);  
  color: #010002;
}

.link-To-Home {
  text-decoration: none;
  color: #ffffff;
}

.link-To-Home .home-icon {
  width: 90px;
  height: 90px;
}

.create-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #b1ecb6; 
  background: -moz-linear-gradient(45deg,  #b1ecb6 0%,#f1d4cc 50%,#fef2b6 100%); 
  background: -webkit-linear-gradient(45deg,  #b1ecb6 0%,#f1d4cc 50%,#fef2b6 100%); 
  background: linear-gradient(45deg,  #b1ecb6 0%,#f1d4cc 50%,#fef2b6 100%);
  border: solid 2px #CDB4DB;
  border-radius: 10px;
  padding: 5px;
}

