/* Estilos para el formulario de creación de recetas */
.create-container {
    padding: 20px;
    border: 2px solid rgb(4, 201, 250)
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input,
  textarea,
  select {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }